{# Purpose of this template: Display search options #}
<input type="hidden" id="rKTeamModuleActive" name="active[RKTeamModule]" value="1" />
<div>
    <input type="checkbox" id="active_rKTeamModulePersons" name="rKTeamModuleSearchTypes[]" value="person"{% if active_person %} checked="checked"{% endif %} />
    <label for="active_rKTeamModulePersons">{{ __('Persons', 'rkteammodule') }}</label>
</div>
